.login {
  height: 32rem;
  background: -webkit-linear-gradient(#f8e5e5c2, #d4c1c1ec);
  margin: auto;

  padding: 2rem;
}

.login_body {
  text-align: center;
}

@media (min-width: 280px) and (max-width: 424px) {
  .login .titleName {
    font-size: 20px;
    margin-left: 3px;
  }
}
